<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} Recipe for {{ drink_name }} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                   <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% from "_formhelpers.html" import render_field %}

    <h1>{{ drink_name|striptags|title }} Recipe:</h1><br>

    <p>
    {% if ing_list %}
    <!--<ul>-->
        {% for ing in ing_list %}
        <li>
            {{ ing|striptags|title  }}
        </li>
    <!--</ul>-->
    {% endfor %}
    {% endif %}
    </p>

{% endblock %}