{% extends "search.html" %}
{% block title %} Search by Ingredient {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
    {% block h1 %}Search by ingredient:{% endblock %}
    {% block search_head %}
        <br>
        {% if ing_name %}
        <h3>Drinks containing {{ ing_name }}:</h3>
        {% endif %}
    {% endblock %}
{% block img %}
    <img class="img-responsive" src="{{ url_for('static', filename='img/moscow-mule-sm.jpg') }}"><br>
{% endblock %}