{% extends "base.html" %}
{% block title %} Search by name {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <style>
    li:first-child {
        padding-top:20px;
        clear:left;
        alight:left;
    }
    </style>

    {% from "_formhelpers.html" import render_field %}

    <h1>{% block h1 %}Search by drink name:{% endblock %}</h1><br>
    <form style = "left-alight:0px" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <!--{{ render_field(form.select) }}-->
            <!--{{ form.select.label }}<br>-->
            <!--{{ form.select() }}-->
            <!--{{ form.select(size=3) }}<br>-->
            <!--{{ form.select(width=27)}}<br>-->
            <!--{% for error in form.select.errors %}-->
            <!--<span style="color: red;">{{ error }}</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>-->
            {{ form.search.label }}<br>
            {{ form.search(size=32) }}
            {{ form.submit() }}
            {% for error in form.search.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
    </form>
    <p>
    {% block search_head %}{% endblock %}
<!--THIS IS FOR FLASHED ERROR MESSAGES-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
           <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if drinks_list %}

<!--THIS IS WHERE DRINKS ARE RETURNED:-->
    {% for drink in drinks_list %}
    <li>
        <a href = "{{ url_for('drinks', name = drink) }}">{{ drink|title }}</a>
    </li>

    {% endfor %}
    {% endif %}
    </p>
{% endblock %}
{% block img %}
    <img class="img-responsive" src="{{ url_for('static', filename='img/tobacco-road.jpg') }}"><br>
{% endblock %}